ul.results-keywords {
    color: gray;
    font-size: smaller;
}

ul.results-keywords li {
    background: white none repeat scroll 0 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 2px;
    padding: 0 2px;
}