# editor temp files
*~
.*.sw?
.sw?
#*#
DEADJOE

# IDEA project settings
.idea
*.ipr
*.iws
*.iml

rebel*.xml
*.versionsBackup

repository/
target/
logs/
.DS_Store

#docker
docker/tomcat/7-jre8/app/
docker/postgresql/