<?xml version="1.0" encoding="UTF-8"?>

<!-- Debug true let us see logger config messages even in case of no errors-->
<!-- Scan true let logback auto reload config in case of changes-->
<!-- Packaging data true let logback show jar files in stack trace-->
<configuration debug="true" scan="true" packagingData="true">
    <conversionRule conversionWord="mdc_values" converterClass="ru.glaizier.todo.log.MdcConverter"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"}] [%thread] %level %logger - %mdc_values %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->

        <encoder>
            <pattern>[%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"}] [%thread] %level %logger - %mdc_values %msg%n</pattern>
        </encoder>

        <File>logs/todo.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/todo.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="ru.glaizier.todo" level="DEBUG"/>
    <!-- Uncomment if u need to understand what't happening in spring, hibernate -->
    <!--<logger name="org.springframework" level="DEBUG"/>-->
    <!--<logger name="org.hibernate" level="TRACE"/>-->
    <!--<logger name="springfox" level="INFO"/>-->
    <!--<logger name="org" level="INFO"/>-->
    <!--<logger name="com" level="INFO"/>-->

    <!-- Default level for loggers is DEBUG-->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>