#cc-loading-gif {
    text-align: center;
    padding-bottom: 15px;
}

#cc-found-concepts-list-group {
    max-height: 620px;
    overflow-y: auto;
}

#cc-article-concepts-list-group {
    max-height: 434px;
    overflow-y: auto;
}