/* Todo this is not very good. Think about how to make white text color in navbar easier*/
.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-nav > li {
    border-left: 2px solid white;
    color: white !important;
}

.navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default {
    color: white;
    background-color: #222;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-logo {
    background: #222 none repeat scroll 0 0;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    margin-right: 20px;
    padding: 15px;
    border-right: 2px solid white;
}

.glyphicon-log-out {
    cursor: pointer;
}