#cc-result-element-row {
    border-bottom: 1px darkgray solid;
    padding: 5px;
}

#cc-result-element-body {
    padding-top: 5px;
    padding-bottom: 5px
}

#cc-result-element-button {
    float: right;
    position: relative;
    margin: 3px
}