.cc-concept-node-button {
    cursor: pointer;
    margin-right: 5px;
}

.cc-concept-node-glyph {
    margin-right: 5px;
}

.cc-concept-edit-icon {
    float: right;
}

.cc-concept-edit-button {
    cursor: pointer;
}