<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=
              "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Todo</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/home.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/icons/favicon.ico}">
</head>
<body>
<div th:replace="menu :: menu">...</div>
<div class="jumbotron">
    <div class="container">
        <h1>Todo</h1>
        <p>Welcome to the simple appication that helps you to organize your tasks</p>
        <p><a th:href="@{/tasks}" class="btn btn-primary btn-lg" role="button">Go to tasks</a></p>
    </div>
</div>

<!--Todo remove this after test-->
<footer>
    <div sec:authorize="isAuthenticated()">
        Hello <span sec:authentication="name">someone</span>
    </div>
</footer>

<script th:src="@{/resources/js/bootstrap/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>