<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittr</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div class="jumbotron">
    <h1>Welcome to Todo Thymeleaf</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<!--<a th:href="@{/spittles}">Spittles</a> -->
<!--<a th:href="@{/spitter/register}">Register</a>-->
</body>