<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/home.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/icons/favicon.ico}">
</head>
<body>
<div th:replace="general/menu :: menu">...</div>
<div class="jumbotron">
    <div class="container">
        <h1>Todo</h1>
        <p>Welcome to the simple appication that helps you to organize your tasks</p>
        <p><a th:href="@{/tasks}" class="btn btn-primary btn-lg" role="button">Go to tasks</a></p>
    </div>
</div>

<script th:src="@{/resources/js/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>