<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/login.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/icons/favicon.ico}">
</head>
<body>
<div class="container">
    <form role="form" class="form-horizontal" th:action="@{/login}" method="POST">
        <a th:href="@{/}"><img alt="Todo" height="45px" th:src="@{/resources/icons/todo.png}"></a>
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="label label-danger" th:if="${error} != null" th:text="${error}"></div>

        <div class="div-login" th:classappend="${error} ? has-error">
            <label for="login" class="col-sm-3 control-label">Login</label>
            <div class="col-sm-9">
                <input name="user" type="text" id="login" placeholder="Login" class="form-control" autofocus>
                <!--<span class="help-block">Auth failed</span>-->
            </div>
        </div>
        <div th:classappend="${error} ? has-error">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input name="password" type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="checkbox col-sm-9 col-sm-offset-3">
            <label>
                <input type="checkbox" name="remember-me"> Remember me
            </label>
        </div>
        <div>
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->

<script th:src="@{/resources/js/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>