<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=
              "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<!--todo add here logic to show logined user-->
<nav th:fragment="menu" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" th:href="@{/}">
                <img alt="Todo" height="45px" th:src="@{/resources/icons/todo.png}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/tasks}">Tasks</a></li>
            </ul>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li>Signed in as <span sec:authentication="name">someone</span></li>
                <li><a th:href="@{/logout}">Sign out</a></li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login}">Sign in</a></li>
                <li><a th:href="@{/register}">Sign up</a></li>
            </ul>
            <!--<div sec:authorize="isAuthenticated()">-->
            <!--Hello <span sec:authentication="name">someone</span>-->
            <!--</div>-->
            <!--<div sec:authorize="!isAuthenticated()">-->
            <!--Hello <span>noone</span>-->
            <!--</div>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
<footer>
    <div sec:authorize="isAuthenticated()">
        Hello <span sec:authentication="name">someone</span>
    </div>
    <div sec:authorize="!isAuthenticated()">
        Hello <span>noone</span>
    </div>
</footer>
</html>