<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--TODO replace all links to Thymeleaf ones-->
    <title>Todo</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="../../resources/css/register.css"/>
    <link rel="shortcut icon" href="../../resources/icons/favicon.ico">
</head>
<body>
<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Please register</h2>
        <div class="form-group">
            <label for="login" class="col-sm-3 control-label">Login</label>
            <div class="col-sm-9">
                <input type="text" id="login" placeholder="Login" class="form-control" autofocus>
                <!--<span class="help-block">All letters are acceptable</span>-->
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->
</body>