<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/css/register.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/icons/favicon.ico}">
</head>
<body>
<div th:replace="general/menu :: menu">...</div>
<div class="container">
    <form th:object="${user}" th:action="@{/register}" class="form-horizontal" method="POST">
        <h2>Please register</h2>
        <div>
            <label for="login" class="col-sm-3 control-label">Login</label>
            <div class="col-sm-9">
                <input th:field="*{login}" type="text" id="login" placeholder="Login" class="form-control" autofocus>
                <p th:each="error : ${#fields.errors('login')}" th:text="${error}" class="bg-danger">Validation
                    error</p>
                <!--<span class="help-block">All letters are acceptable</span>-->
            </div>
        </div>
        <div>
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input th:field="*{password}" type="password" id="password" placeholder="Password" class="form-control">
                <p th:each="error : ${#fields.errors('password')}" th:text="${error}" class="bg-danger">Validation
                    error</p>
            </div>
        </div>
        <div>
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->

<script th:src="@{/resources/js/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>